
<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" >
  <mat-tab label="Method 1">

          <div class="example-button-row" >
            <h5>Labels :
            <button   class="person">Person</button>
            <i>  -  </i>
            <button  class="location">Location</button>
            <i>  -  </i>
            <button  class="date">Date</button>
            <i>  -  </i>
            <button  class="time">Time</button>
              <i>  -  </i>
              <button  class="email">Email</button>
              <i>  -  </i>
              <button  class="organization">Organization</button>
              <i>  -  </i>
              <button  class="set">Set</button>
              <!--<i>  -  </i>-->
              <!--<button mat-flat-button class="religion">Religion</button>-->
            </h5>
          </div>
    <!--<span class="badge badge-primary">Primary</span>-->
    <!--<span class="badge badge-secondary">Secondary</span>-->
    <!--<span class="badge badge-success">Success</span>-->
    <!--<span class="badge badge-danger">Danger</span>-->
    <!--<span class="badge badge-warning">Warning</span>-->
    <!--<span class="badge badge-info">Info</span>-->
    <!--<span class="badge badge-light">Light</span>-->
    <!--<span class="badge badge-dark">Dark</span>-->
    <mat-divider></mat-divider>

    <h3 class="concept">
      Input Text : {{inputString}}
    </h3>

    <div class="example-button-row">
      <button mat-raised-button color="primary"
              matTooltip="Generate Concept"
              [matTooltipShowDelay]="500"
              [matTooltipHideDelay]="500"
              (click)="postInputPayloadToBackend()" >
        Generate Concepts
      </button>
    </div>




        <h3>
          Output Concept:
        </h3>

        <mat-progress-spinner *ngIf="isSpinner == true"
          class="example-margin"
          color="Primary"
          mode="indeterminate"
          value="">
        </mat-progress-spinner>


        <div class="footer">
          <div class="row">
            <div class="col-sm-12 links" *ngFor="let keyWord of keyWords; last as isLast ">
              <div style="float: left;height:50px;"  [ngStyle]="{'width': 'fit-content'}">
                <button mat-stroked-button matTooltip="{{keyWord.label}}"
                        [ngClass]="{
                  'person' : keyWord.label == 'PERSON',
                  'location' : keyWord.label == 'LOCATION',
                  'date' : keyWord.label == 'DATE',
                  'time' : keyWord.label == 'TIME',
                  'email' : keyWord.label == 'EMAIL',
                  'set' : keyWord.label == 'SET',
                  'organization' : keyWord.label == 'ORGANIZATION',
                  'religion' : keyWord.label == 'RELIGION'
                 }">  {{keyWord.keyWord}}  </button>
                <i *ngIf="isLast == false">   +   </i>
              </div>
            </div>
          </div>
        </div>







  </mat-tab>
  <mat-tab label="Method 2"> {{inputString}} </mat-tab>
  <mat-tab label="Method 3"> {{inputString}} </mat-tab>
  <!--<mat-tab label="graph">  </mat-tab>-->
</mat-tab-group>
