.example-stretched-tabs {
  max-width: 100%;
  position: absolute;
  left: 15px;
  top: 25px;
  right: 15px;
  bottom: 3px;

}

.concept {
  position: center;
}

.example-button-row button,
.example-button-row a {
  margin-right: 5px;
  height: 15%;
}


.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.person {
   background-color: lightgreen;
 }

.location {
  background-color: lightskyblue;
}
.date {
  background-color: lightcoral;
}
.time {
  background-color: lightpink;
}

.email {
  background-color: lightyellow;
}

.organization {
  background-color: olivedrab;
}
.set {
  background-color: lightcoral;
}
.religion {
  background-color: lightgoldenrodyellow;
}

