

<!--<h2>-->
  <!--sdfsfd-->
<!--</h2>-->
<s2w-angular-d3-tree-lib class="d3-disp"
  [(treeData)]="data"
  (onNodeChanged)="nodeUpdated($event)"
  (onNodeSelected)="nodeSelected($event)"></s2w-angular-d3-tree-lib>
