
  <!--<h2>Tree</h2>-->
  <!--<lib-Ng6O2Chart [chartType]="treeTypeName" [configData]="configData"  [graphData]="treeDataJson" [svgWidth]="'600'" [svgHeight]="'600'"></lib-Ng6O2Chart>-->
  <!--<hr>-->

  <lib-Ng6O2Chart [chartType]="forceTypeName" [configData]="configData"  [graphData]="forceDataJson" [svgWidth]="'800'" [svgHeight]="'800'"></lib-Ng6O2Chart>


