
  <form class="form-style">
    <mat-form-field class="form-full-width" appearance="outline">
      <mat-label>Search with Observation ID</mat-label>

      <input matInput #recordId name="recordId" placeholder="Observation ID" (input)="CheckObservationRecord(recordId.value)">

      <mat-hint align="end" *ngIf="observationRecord.recordId != 0 && observationRecord.recordId != -1">
        <mat-icon>done</mat-icon>
        Valid ID: {{recordId.value}}
      </mat-hint>
      <mat-hint class="notFoundHint" align="end" *ngIf="observationRecord.recordId == 0">
        <mat-icon>error</mat-icon>
        Invalid ID: {{recordId.value}}
      </mat-hint>
    </mat-form-field>

    <mat-form-field class="form-full-width" appearance="outline">
      <mat-label>Observation</mat-label>
      <textarea matInput #observationText name="observationText" rows="15" placeholder="Input observation" value="{{observationRecord.observation}}" (change)="inputPayloadValue(observationText.value)" (input)="inputPayloadValue(observationText.value)"></textarea>
    </mat-form-field>


  </form>

  <div class="example-button-row">
  <button mat-raised-button color="primary"
          matTooltip="Generate Concept"
          [matTooltipShowDelay]="500"
          [matTooltipHideDelay]="500"
    (click)="computeObservationConcept(recordId.value)" disabled>
    Generate Concepts
  </button>
  </div>
