.form-style {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-full-width {
  width: 100%;
  /*height: max-content;*/
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.mat-hint {
  color: green;
}

.notFoundHint {
  color: darkred;
}
