<mat-grid-list cols="6" rowHeight="2:3">
  <mat-grid-tile [colspan]="2" [rowspan]="2">
    <div class="text-inside-grid">
      <app-observation-input></app-observation-input>

      <mat-button-toggle-group #group="matButtonToggleGroup" class="example-selected-value" color="primary" value="concept">

        <mat-button-toggle value="concept">
          Concept
        </mat-button-toggle>

        <mat-button-toggle value="graph">
          Graph
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="2">
    <div>
      <app-observation-output class="text-inside-grid-height" *ngIf="group.value == 'concept'"></app-observation-output>
      <!--<app-d3-tree class="text-inside-grid" *ngIf="group.value == 'graph'"></app-d3-tree>-->
      <app-test-d3 class="text-inside-grid" *ngIf="group.value == 'graph'"></app-test-d3>
    </div>
  </mat-grid-tile>


</mat-grid-list>

