/*mat-grid-tile {*/
  /*background: lightblue;*/
/*}*/

.text-inside-grid {
   position: absolute;
   left: 15px;
   top: 25px;
   right: 15px;
  bottom: 0px;

}

/*.h4 {*/
  /*position: absolute;*/
  /*top: 0px;*/
/*}*/

.text-inside-grid-height {
  position: center;
  left: 5px;
  top: 0px;
  right: 5px;
  bottom: 0px;
}

.example-selected-value {
  margin: 15px 0;
  height: 1cm;
}


.example-button-row {
  height: 8px;
}

.test {
  position: center;

}
